<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<div th:replace="base :: navlinks"></div>


<h1>Department List</h1>
<a href="/add">Add a Department</a>
<table>
    <tr>
        <th>Name</th>
        <th>Industry</th>
        <th>Location</th>
    </tr>
    <tr th:each="department : ${departments}">
        <td th:text="${department.name}"></td>
        <td th:text="${department.industry}"></td>
        <td th:text="${department.location}"></td>
        <td>
            <a th:href="@{/update/department/{id}(id=${department.id})}">Update</a>
            <a th:href="@{/details/department/{id}(id=${department.id})}">Details</a>
            <a th:href="@{/delete/department/{id}(id=${department.id})}">Delete</a>

        </td>

    </tr>
</table>
</body>
</html>